<!DOCTYPE html>
<html>

<head>
  <title>Yefymenko's Personal Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
  <link rel="stylesheet" href="css/site.css" media="all">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]} });
  </script>

  <script type="text/javascript" async src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>

  <header>
    <h1>personal page</h1>
    <h2>Vladimir Yefymenko</h2>
  </header>

  <div id="app">
    <login-widget></login-widget>
    <router-view></router-view>
  </div>

  <footer>
    <a class="ordinary" target="_blank" href="https://www.facebook.com/vladimir.efimenko.10"><img src="images/facebook.png " /></a>
    <a class="ordinary" target="_blank" href="https://www.linkedin.com/in/vladimirefimenko/"><img src="images/in.png " /></a>
  </footer>

  <!-- TEMPLATES -->
  <!-- Login template -->
  <script type="text/x-template" id="login-template">
    <section>
      <img v-if="loggedIn === false" v-on:click="showModal()" class="user" src="images/user.png" alt="user image" />
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="modal-header">
            <h5>LOGIN</h5>
          </div>
          <form class="modal-body" v-on:submit.prevent="login()">
            <label>Username:</label>
            <input type="text" name="userid" v-model="userName" v-bind:class="{ error: !userNameValid }" />
            <label>Password:</label>
            <input type="password" name="psw" v-model="password" v-bind:class="{ error: !passwordValid }">
            <label class="auth-error" v-if="errorMessage">
              {{ errorMessage }}
            </label>
            <button class="btn-login" v-bind:disabled="!isValid">LOGIN</button>
          </form>
        </div>
      </div>
    </section>
  </script>
  <!--  Main template (recent posts sidebar and articles) -->
  <script type="text/x-template" id="article-list-template">
    <main>
      <aside class="sidebar">
        <img class="avatar" src="images/avatar.png" />
        <h3>
          About me
        </h3>
        <p>
          Hi, my name is Vladimir. I am software engineer and i am happy!!!! Hi, my name is Vladimir. I am software engineer and i am happy!!!! Hi, my name is Vladimir. I am software engineer and i am happy!!!!Hi, my name is Vladimir.
        </p>

        <section class="recent-posts">
          <h3>
           Recent posts
          </h3>
          <router-link class="ordinary" v-for="post in recentPosts" :to="'article/' + post.id">
            <div v-html="post.header"></div>
          </router-link>
        </section>
      </aside>

      <section class="blog">
        <div class="articles">
          <article v-for="article in articles">
            <h4>{{ article.header }}</h4>
            <time>{{ article.date }}</time>
            <p v-html="article.description"></p>
            <router-link class="ordinary" :to="'article/' + article.id"><button class="button">KEEP READING</button></router-link>
          </article>
        </div>
      </section>
    </main>
  </script>

  <!--  Article template (article content) -->
  <script type="text/x-template" id="article-template">
    <div>
      <article>
        <div v-html="item.content"></div>
      </article>
      <button class="btn" onclick="window.history.back()">BACK</button>
    </div>
  </script>

  <script type="text/x-template" id="admin-template">
    <h1>
      {{ adminData }}
    </h1>
  </script>

  <script type="text/javascript" src="scripts/lib/sjcl.js"></script>
  <script type="text/javascript" src="scripts/articles-api.js"></script>
  <script type="text/javascript" src="scripts/auth-api.js"></script>
  <script type="text/javascript" src="scripts/eventhub.js"></script>
  <script type="text/javascript" src="scripts/admin.component.js"></script>
  <script type="text/javascript" src="scripts/article-list.component.js"></script>
  <script type="text/javascript" src="scripts/article.component.js"></script>
  <script type="text/javascript" src="scripts/login.component.js"></script>
  <script type="text/javascript" src="scripts/config.js"></script>
</body>

</html>
